.bait-icon {
  background-image: url('bait.png?1715521110');
}
.bait-icon-12704 {
  background-position: -0px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-12705 {
  background-position: -0px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-12706 {
  background-position: -0px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-12707 {
  background-position: -0px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-12708 {
  background-position: -0px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-12709 {
  background-position: -0px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-12710 {
  background-position: -0px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-12711 {
  background-position: -44px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-12712 {
  background-position: -44px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-20613 {
  background-position: -44px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-20614 {
  background-position: -44px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-20615 {
  background-position: -44px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-20616 {
  background-position: -44px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-20617 {
  background-position: -44px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-20618 {
  background-position: -88px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-20619 {
  background-position: -88px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-20675 {
  background-position: -88px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-20676 {
  background-position: -88px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-2585 {
  background-position: -88px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-2586 {
  background-position: -88px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-2587 {
  background-position: -88px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-2588 {
  background-position: -132px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-2589 {
  background-position: -132px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-2590 {
  background-position: -132px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-2591 {
  background-position: -132px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-2592 {
  background-position: -132px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-2594 {
  background-position: -132px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-2595 {
  background-position: -132px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-2596 {
  background-position: -176px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-2597 {
  background-position: -176px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-2598 {
  background-position: -176px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-2599 {
  background-position: -176px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-2600 {
  background-position: -176px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-2601 {
  background-position: -176px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-2603 {
  background-position: -176px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-2605 {
  background-position: -220px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-2606 {
  background-position: -220px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-2607 {
  background-position: -220px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-2610 {
  background-position: -220px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-2611 {
  background-position: -220px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-2613 {
  background-position: -220px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-2614 {
  background-position: -220px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-2616 {
  background-position: -264px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-2617 {
  background-position: -264px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-2618 {
  background-position: -264px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-2619 {
  background-position: -264px -132px;
  width: 44px;
  height: 44px;
}
.bait-icon-2620 {
  background-position: -264px -176px;
  width: 44px;
  height: 44px;
}
.bait-icon-2623 {
  background-position: -264px -220px;
  width: 44px;
  height: 44px;
}
.bait-icon-2624 {
  background-position: -264px -264px;
  width: 44px;
  height: 44px;
}
.bait-icon-2625 {
  background-position: -308px -0px;
  width: 44px;
  height: 44px;
}
.bait-icon-2626 {
  background-position: -308px -44px;
  width: 44px;
  height: 44px;
}
.bait-icon-2628 {
  background-position: -308px -88px;
  width: 44px;
  height: 44px;
}
.bait-icon-28634 {
  background-position: -308px -132px;
  width: 44px;
  height: 44px;
}
