.fish-icon {
  background-image: url('fish.png?1717568532');
}
.fish-icon-12715 {
  background-position: -0px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-12716 {
  background-position: -0px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-12722 {
  background-position: -0px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-12724 {
  background-position: -0px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-12730 {
  background-position: -0px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-12753 {
  background-position: -0px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-12754 {
  background-position: -0px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-12757 {
  background-position: -0px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-12776 {
  background-position: -0px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-12777 {
  background-position: -0px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-12780 {
  background-position: -0px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-12800 {
  background-position: -0px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-12805 {
  background-position: -0px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-12810 {
  background-position: -0px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-13727 {
  background-position: -0px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-15626 {
  background-position: -44px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-15627 {
  background-position: -44px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-15628 {
  background-position: -44px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-15629 {
  background-position: -44px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-15630 {
  background-position: -44px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-15631 {
  background-position: -44px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-15632 {
  background-position: -44px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-15633 {
  background-position: -44px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-15634 {
  background-position: -44px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-15635 {
  background-position: -44px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-15636 {
  background-position: -44px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-15637 {
  background-position: -44px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-15638 {
  background-position: -44px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-16742 {
  background-position: -44px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-16743 {
  background-position: -44px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-16744 {
  background-position: -88px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-16745 {
  background-position: -88px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-16746 {
  background-position: -88px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-16747 {
  background-position: -88px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-16748 {
  background-position: -88px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-16749 {
  background-position: -88px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-16750 {
  background-position: -88px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-16751 {
  background-position: -88px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-16752 {
  background-position: -88px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-16753 {
  background-position: -88px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-16754 {
  background-position: -88px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-16756 {
  background-position: -88px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-17577 {
  background-position: -88px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-17578 {
  background-position: -88px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-17579 {
  background-position: -88px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-17580 {
  background-position: -132px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-17581 {
  background-position: -132px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-17582 {
  background-position: -132px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-17583 {
  background-position: -132px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-17584 {
  background-position: -132px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-17585 {
  background-position: -132px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-17586 {
  background-position: -132px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-17587 {
  background-position: -132px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-17588 {
  background-position: -132px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-17589 {
  background-position: -132px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-17590 {
  background-position: -132px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-17591 {
  background-position: -132px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-17592 {
  background-position: -132px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-17593 {
  background-position: -132px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-20025 {
  background-position: -132px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-20040 {
  background-position: -176px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-20056 {
  background-position: -176px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-20064 {
  background-position: -176px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-20112 {
  background-position: -176px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-20127 {
  background-position: -176px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-20143 {
  background-position: -176px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-21177 {
  background-position: -176px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-22397 {
  background-position: -176px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-23056 {
  background-position: -176px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-23057 {
  background-position: -176px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-23058 {
  background-position: -176px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-23059 {
  background-position: -176px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-23060 {
  background-position: -176px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-23061 {
  background-position: -176px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-23062 {
  background-position: -176px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-23063 {
  background-position: -220px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-23064 {
  background-position: -220px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-23065 {
  background-position: -220px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-23066 {
  background-position: -220px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-23067 {
  background-position: -220px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-23068 {
  background-position: -220px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-23069 {
  background-position: -220px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-23070 {
  background-position: -220px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-24203 {
  background-position: -220px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-24204 {
  background-position: -220px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-24205 {
  background-position: -220px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-24206 {
  background-position: -220px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-24207 {
  background-position: -220px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-24208 {
  background-position: -220px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-24209 {
  background-position: -220px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-24210 {
  background-position: -264px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-24211 {
  background-position: -264px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-24212 {
  background-position: -264px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-24213 {
  background-position: -264px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-24214 {
  background-position: -264px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-24215 {
  background-position: -264px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-24216 {
  background-position: -264px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-24217 {
  background-position: -264px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-24218 {
  background-position: -264px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-24881 {
  background-position: -264px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-24882 {
  background-position: -264px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-24883 {
  background-position: -264px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-24884 {
  background-position: -264px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-24885 {
  background-position: -264px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-24886 {
  background-position: -264px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-24887 {
  background-position: -308px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-24888 {
  background-position: -308px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-24889 {
  background-position: -308px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-24890 {
  background-position: -308px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-24891 {
  background-position: -308px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-24892 {
  background-position: -308px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-24893 {
  background-position: -308px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-24990 {
  background-position: -308px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-24991 {
  background-position: -308px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-24992 {
  background-position: -308px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-24993 {
  background-position: -308px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-24994 {
  background-position: -308px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-24995 {
  background-position: -308px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-4869 {
  background-position: -308px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-4872 {
  background-position: -308px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-4874 {
  background-position: -352px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-4888 {
  background-position: -352px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-4898 {
  background-position: -352px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-4904 {
  background-position: -352px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-4913 {
  background-position: -352px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-4919 {
  background-position: -352px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-4927 {
  background-position: -352px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-4937 {
  background-position: -352px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-4942 {
  background-position: -352px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-4948 {
  background-position: -352px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-4978 {
  background-position: -352px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-4995 {
  background-position: -352px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-5002 {
  background-position: -352px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-5008 {
  background-position: -352px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-5011 {
  background-position: -352px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-5031 {
  background-position: -396px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-5035 {
  background-position: -396px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-5040 {
  background-position: -396px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-5544 {
  background-position: -396px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-7678 {
  background-position: -396px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-7679 {
  background-position: -396px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-7680 {
  background-position: -396px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-7681 {
  background-position: -396px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-7682 {
  background-position: -396px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-7683 {
  background-position: -396px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-7684 {
  background-position: -396px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-7685 {
  background-position: -396px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-7686 {
  background-position: -396px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-7687 {
  background-position: -396px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-7688 {
  background-position: -396px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-7689 {
  background-position: -440px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-7690 {
  background-position: -440px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-7691 {
  background-position: -440px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-7692 {
  background-position: -440px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-7693 {
  background-position: -440px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-7694 {
  background-position: -440px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-7695 {
  background-position: -440px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-7696 {
  background-position: -440px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-7697 {
  background-position: -440px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-7698 {
  background-position: -440px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-7699 {
  background-position: -440px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-7700 {
  background-position: -440px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-7701 {
  background-position: -440px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-7702 {
  background-position: -440px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-7703 {
  background-position: -440px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-7704 {
  background-position: -484px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-7705 {
  background-position: -484px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-7706 {
  background-position: -484px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-7707 {
  background-position: -484px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-7708 {
  background-position: -484px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-7709 {
  background-position: -484px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-7710 {
  background-position: -484px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-7711 {
  background-position: -484px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-7712 {
  background-position: -484px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-7713 {
  background-position: -484px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-7714 {
  background-position: -484px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-7902 {
  background-position: -484px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-7903 {
  background-position: -484px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-7904 {
  background-position: -484px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-7905 {
  background-position: -484px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-7906 {
  background-position: -528px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-7907 {
  background-position: -528px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-7908 {
  background-position: -528px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-7909 {
  background-position: -528px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-7910 {
  background-position: -528px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-7911 {
  background-position: -528px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-7912 {
  background-position: -528px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-7913 {
  background-position: -528px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-7914 {
  background-position: -528px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-7915 {
  background-position: -528px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-7916 {
  background-position: -528px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-7917 {
  background-position: -528px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-7918 {
  background-position: -528px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-7919 {
  background-position: -528px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-7920 {
  background-position: -528px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-7921 {
  background-position: -572px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-7922 {
  background-position: -572px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-7923 {
  background-position: -572px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-7924 {
  background-position: -572px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-7925 {
  background-position: -572px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-7926 {
  background-position: -572px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-7927 {
  background-position: -572px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-7928 {
  background-position: -572px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-7929 {
  background-position: -572px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-7930 {
  background-position: -572px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-7931 {
  background-position: -572px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-7932 {
  background-position: -572px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-7933 {
  background-position: -572px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-7934 {
  background-position: -572px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-7935 {
  background-position: -572px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-7936 {
  background-position: -616px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-7937 {
  background-position: -616px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-7938 {
  background-position: -616px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-7939 {
  background-position: -616px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-7940 {
  background-position: -616px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-7941 {
  background-position: -616px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-7942 {
  background-position: -616px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-7943 {
  background-position: -616px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-7944 {
  background-position: -616px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-7945 {
  background-position: -616px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-7946 {
  background-position: -616px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-7947 {
  background-position: -616px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-7948 {
  background-position: -616px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-7949 {
  background-position: -616px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-7950 {
  background-position: -616px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-7951 {
  background-position: -660px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-8752 {
  background-position: -660px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-8753 {
  background-position: -660px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-8754 {
  background-position: -660px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-8755 {
  background-position: -660px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-8756 {
  background-position: -660px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-8757 {
  background-position: -660px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-8758 {
  background-position: -660px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-8759 {
  background-position: -660px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-8760 {
  background-position: -660px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-8761 {
  background-position: -660px -440px;
  width: 44px;
  height: 44px;
}
.fish-icon-8762 {
  background-position: -660px -484px;
  width: 44px;
  height: 44px;
}
.fish-icon-8763 {
  background-position: -660px -528px;
  width: 44px;
  height: 44px;
}
.fish-icon-8764 {
  background-position: -660px -572px;
  width: 44px;
  height: 44px;
}
.fish-icon-8765 {
  background-position: -660px -616px;
  width: 44px;
  height: 44px;
}
.fish-icon-8766 {
  background-position: -704px -0px;
  width: 44px;
  height: 44px;
}
.fish-icon-8767 {
  background-position: -704px -44px;
  width: 44px;
  height: 44px;
}
.fish-icon-8768 {
  background-position: -704px -88px;
  width: 44px;
  height: 44px;
}
.fish-icon-8769 {
  background-position: -704px -132px;
  width: 44px;
  height: 44px;
}
.fish-icon-8770 {
  background-position: -704px -176px;
  width: 44px;
  height: 44px;
}
.fish-icon-8771 {
  background-position: -704px -220px;
  width: 44px;
  height: 44px;
}
.fish-icon-8772 {
  background-position: -704px -264px;
  width: 44px;
  height: 44px;
}
.fish-icon-8773 {
  background-position: -704px -308px;
  width: 44px;
  height: 44px;
}
.fish-icon-8774 {
  background-position: -704px -352px;
  width: 44px;
  height: 44px;
}
.fish-icon-8775 {
  background-position: -704px -396px;
  width: 44px;
  height: 44px;
}
.fish-icon-8776 {
  background-position: -704px -440px;
  width: 44px;
  height: 44px;
}
